$defaultPadding: 10px;
$defaultMargin: 20px;

$navHeight: 75px;
$headerHeight: 150px;

// body * {
//   outline: 1px #f00 solid;
// }

body {
  margin: 0px;
  padding: 0;
  font-size: 18px;
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

#about {
  background-image: url('/img/noise.png'), linear-gradient(to right, #FBEC9A, #D4BB7A)
}

#skills {
  background-image: url('/img/noise.png'), linear-gradient(to right, #E9EEF1, #FBEC9A);

}

#contact {
  background-image: url('/img/noise.png'), linear-gradient(to right bottom,  #71594C, #2D2826);
}

.navbar {
  width: 100%;
  height: $navHeight;
  position: fixed;
  top: 0px;
  z-index: 100;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.nav_item {
  display: inline;
  padding: 0rem 3rem;
  opacity: 1;
  transition: opacity 0.2s ease;

  &:hover {
    cursor: pointer;
  }

  .active {
    text-decoration: underline;
  }

  &.invisible {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
}

.hero-img {
  box-sizing: border-box;
  background: url("/img/hero.jpg") no-repeat center fixed;
  background-size: cover;
  filter: blur(8px);
  height: 100vh;
  width: 100%;
}

.hero-text {
  text-align: center;
  font-size: larger;
  position: absolute;
  top: 40%;
  right: 10%;
}

.subtitle {
  text-align: center;
  position: relative;
  top: 80px;
}

.container {
  height: calc(100vh - $navHeight);
}

.container_header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $headerHeight;
  background-color: white;
}

.container_row {
  height: calc(100vh - #{$headerHeight} - #{$navHeight});
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;}

.container_col {
  height: calc(100vh - #{$headerHeight} - #{$navHeight});
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_center {
  height: calc(100vh - #{$headerHeight} - #{$navHeight});
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_grid {
  width: 50%;
  height: calc(100vh - #{$headerHeight} - #{$navHeight});
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.container_column {
  width: 50%;
  height: calc(100vh - #{$headerHeight} - #{$navHeight});
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
}

.container_content {
  margin-right: 20%;
  margin-left: 20%;
  text-align: center;
}

.header-container {
  text-align: center;
  margin-bottom: 4rem;
  padding: 4rem;
}

@mixin box {
  border: 1px solid black;
  border-radius: 5px;
  padding: $defaultPadding;
  margin: $defaultMargin;
  background-color: rgba(255, 255, 255, 0.3);
}

.box_skill {
  width: 25%;
  height: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill_bubble {
  border: 1px solid black;
  border-radius: 500px;
  padding: $defaultPadding;
  margin: $defaultMargin;
  background-color: rgba(255, 255, 255, 0.3);

}

.box_project {
  @include box();
  width: 25%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);

  &:hover {
    cursor: pointer;
  }
}

.box_contact {
  @include box();
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  text-align: center;
}

.project-display {
  height: calc(100vh - #{$headerHeight} - #{$navHeight});
  padding: $defaultPadding;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-background {
  width: 100%;
  height: calc(100vh - #{$headerHeight} - #{$navHeight});
  position: absolute;
  z-index: -2;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  overflow: hidden;
}

.project-img {
  align-self: center;
  max-width: 100%;
  max-height: 100%;
}

.link_bar {
  z-index: 2;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  box-sizing: border-box;
  margin: {
    top: $defaultMargin;
    bottom: $defaultMargin;
  }
}

.contact-icon {
  padding: 2rem;
  font-size: 3rem;
}

.slide-enter {
  transform: translateX(-110%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0);
  transition: 250ms ease;
}

.slide-exit {
  transform: translateX(0%);
}

.slide-exit.slide-exit-active {
  transform: translateX(110%);
  transition: 250ms ease;
}
