.slide-enter {
  transform: translateX(-110%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0);
  transition: 250ms ease;
}

.slide-exit {
  transform: translateX(0%);
}

.slide-exit.slide-exit-active {
  transform: translateX(110%);
  transition: 250ms ease;
}